:root {
  --primary-colour: #3882f6;
  --secondary-colour: #f2f2f2;
  --accent-colour: #ffb084;
  --text-colour: #0d0a08;
  --light-bg-colour: #e5e7eb;
  --dark-bg-colour: #1f2937;
}

@font-face {
  font-family: "Synonym Variable";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./assets/fonts/Synonym-Variable.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Synonym Variable", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin: 0rem;
  padding: 0rem;
  font-size: 2rem;
}
p {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
}
.wrapper {
  margin: 1rem auto;
  max-width: 80rem;
}
.hero {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem;
  margin: 1rem 0rem;
  gap: 4rem;
}
.hero-content {
  flex: 1;
  max-width: 64ch;
  padding: 1rem;
}
.hero > .hero-content > p {
  margin-top: 1.125rem;
  margin-bottom: 2rem;
  font-size: 1.125rem !important;
}
.hero > .hero-media > img {
  width: min(100%, 45rem);
  aspect-ratio: auto 16 / 9;
}
.hero-media {
  width: auto;
  height: auto;
}
.btn-primary {
  border: transparent;
  border-radius: 4px;
  color: var(--light-bg-colour);
  background-color: var(--primary-colour);
  font-weight: 500;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  transition: all;
  transition-delay: 0.25ms;
}
.btn-primary {
  cursor: pointer;
  opacity: 0.9;
  background-color: var(--primary-colour);
}



.features {
  padding: 4rem 0rem;
  margin-bottom: 4rem;
}
.features h2 {
  margin-bottom: 4rem;
  text-align: center;
}
.features .features-container  {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.features .features-container  .features-item  span {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid var(--primary-colour);
}
.features .features-container  .features-item  p {
  margin-top: 2rem;
}
.testimonial {
  margin-bottom: 4rem;
  padding: 4rem; 
  background-color: var(--secondary-colour);
}
.testimonial h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.testimonial-inverse {
  background-color: var(--secondary-colour);
  color: var(--text-colour);
}
.testimonial-full-bleed{
  box-shadow: 0 0 0 100vmax var(--secondary-colour);
  clip-path: inset(0 -100vmax);
}

@media (min-width: 1024px) {
  .wrapper {
    margin: 0rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .hero > .hero-media > img {
    width: 720px;
    aspect-ratio: auto 16 / 9;
    border: 1px solid var(--accent-colour);
  }
  .hero {
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }
  .features .features-container {
    flex-direction: row;
  }
}