:root {
  --primary-colour: #416788;
  --secondary-colour: #e0e0e2;
  --accent-colour: #81d2c7;
  --text-colour: #27272a;
  --background: #f7f7f8;
  --dark-bg-colour: #27272a;
}

@font-face {
  font-family: "Synonym Variable";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./assets/fonts/Synonym-Variable.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Synonym Variable", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin: 0rem;
  padding: 0rem;
  font-size: 2rem;
}
p {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
}
.wrapper {
  margin: 1rem auto;
  max-width: 80rem;
}
nav {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0rem;
  padding: 2rem 0rem;
  background-color: var(--dark-bg-colour);
  margin-bottom: 5rem;
}
nav div a{
  color: var(--background);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.0125rem;
}
nav ul {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  gap: 2rem;
}
nav ul li {
  margin: 0rem;
  padding: 0rem;
  list-style-type: none;
  color: var(--background);
  text-decoration: none;
}
nav ul li a {
  margin: 0rem;
  padding: 0rem;
  list-style-type: none;
  color: var(--background);
  text-decoration: none;
  opacity: 0.89;
}
.appbar-inverse {
  background-color: var(--dark-bg-colour);
  color: var(--background);
  color: var(--text-colour);
}
.appbar-full-bleed{
  box-shadow: 0 0 0 100vmax var(--dark-bg-colour);
  color: var(--background);
  clip-path: inset(0 -100vmax);
}
.hero {
  display: flex;
  flex-direction: column;
  padding: 0rem 0rem 0rem 0rem;
  margin: 1rem 0rem;
  gap: 4rem;
}
.hero-content {
  flex: 1;
  max-width: 64ch;
  padding: 1rem;
}
.hero > .hero-content > p {
  margin-top: 1.125rem;
  margin-bottom: 2rem;
  font-size: 1.125rem !important;
}
.hero > .hero-media > img {
  width: min(100%, 45rem);
  aspect-ratio: auto 16 / 9;
}
.hero-media {
  width: auto;
  height: auto;
}
.btn-primary {
  border: transparent;
  border-radius: 4px;
  color: var(--light-bg-colour);
  background-color: var(--primary-colour);
  color: var(--background);
  font-weight: 500;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  transition: all;
  transition-delay: 0.25ms;
}
.btn-primary {
  cursor: pointer;
  opacity: 0.9;
  background-color: var(--primary-colour);
  color: var(--background);
}



.features {
  padding: 4rem 0rem;
  margin-bottom: 4rem;
}
.features h2 {
  margin-bottom: 4rem;
  text-align: center;
}
.feature-icon {
  stroke-width: 2;
  max-height: 48px;
  max-width: 48px;
}
.features .features-container  {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.features .features-container  .features-item  p {
  margin-top: 1rem;
}
.testimonial {
  padding: 4rem; 
  background-color: var(--secondary-colour);
}
.testimonial h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.testimonial-inverse {
  background-color: var(--secondary-colour);
  color: var(--text-colour);
}
.testimonial-full-bleed{
  box-shadow: 0 0 0 100vmax var(--secondary-colour);
  clip-path: inset(0 -100vmax);
}
.call-to-action {
  padding: 4rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--primary-colour);
  color: var(--background);
}
.call-to-action div{
  flex: 1;
  flex-direction: column;
}
.call-to-action div h4 {
  color: var(--light-bg-colour);
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 24px !important;
}
.call-to-action div p {
  color: var(--light-bg-colour);
  font-size: 18px !important;
  opacity: 0.8;
}
.call-to-action button{
  border-radius: 4px;
  border: 1.5px solid var(--light-bg-colour);
  background-color: transparent;
  color: var(--light-bg-colour);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0.9rem 2rem;
}
.cta-inverse {
  background-color: var(--primary-colour);
  color: var(--background);
  color: var(--text-colour);
}
.cta-full-bleed{
  box-shadow: 0 0 0 100vmax var(--primary-colour);
  color: var(--background);
  clip-path: inset(0 -100vmax);
}
footer {
  padding: 2rem;
  background-color: var(--dark-bg-colour);
}
footer h5 {
  color: var(--secondary-colour);
  font-weight: 400;
  background-color: var(--dark-bg-colour);
  text-align: center;
  font-size: 1rem;
}
.footer-inverse {
  background-color: var(--dark-bg-colour);
  color: var(--text-colour);
}
.footer-full-bleed {
  box-shadow: 0 0 0 100vmax var(--dark-bg-colour);
  clip-path: inset(0 -100vmax);
}

@media (min-width: 1024px) {
  .wrapper {
    margin: 0rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    
  }
  .hero > .hero-media > img {
    width: 720px;
    aspect-ratio: auto 16 / 9;
    border: 1px solid var(--accent-colour);
  }
  .hero {
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }
  .features .features-container {
    flex-direction: row;
  }
  .call-to-action {
    flex-direction: row;
    align-items: center;
  }
}