:root {
  --primary-colour: #3882f6;
  --secondary-colour: #f2f2f2;
  --accent-colour: #ffb084;
  --text-colour: #0d0a08;
  --light-bg-colour: #e5e7eb;
  --dark-bg-colour: #1f2937;
}

@font-face {
  font-family: "Synonym Variable";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./assets/fonts/Synonym-Variable.ttf") format("truetype");
}

* {
  font-family: "Synonym Variable", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin: 0rem;
  padding: 0rem;
  font-size: 2rem;
}
p {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
}
.wrapper {
  margin: 1rem auto;
  max-width: 80rem;
}